In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [48]:
df = pd.read_excel("C:/Users/pc/Desktop/x.xlsx")

In [37]:
# 이용숙박 더미화
df.loc[df['이용숙박'].str.contains('호텔'), '이용 숙박시설_개인숙박'] = 1
df.loc[df['이용숙박'].str.contains('모텔/여관'), '이용 숙박시설_개인숙박'] = 1
df.loc[df['이용숙박'].str.contains('콘도'), '이용 숙박시설_개인숙박'] = 1
df.loc[df['이용숙박'].str.contains('민박'), '이용 숙박시설_공유숙박'] = 1
df.loc[df['이용숙박'].str.contains('호스텔'), '이용 숙박시설_공유숙박'] = 1
df.loc[df['이용숙박'].str.contains('학교'), '이용 숙박시설_공유숙박'] = 1
df.loc[df['이용숙박'].str.contains('기타'), '이용 숙박시설_기타'] = 1
df.loc[df['이용숙박'].str.contains('않음'), '이용 숙박시설_기타'] = 1

In [38]:
#주요 쇼핑 품목 더미화
df.loc[df['주요 쇼핑 품목'].str.contains('향수'), '주요 쇼핑 품목_한국식품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('칠기'), '주요 쇼핑 품목_한국식품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('한류'), '주요 쇼핑 품목_한국식품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('식료품'), '주요 쇼핑 품목_식료품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('인삼'), '주요 쇼핑 품목_식료품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('주류'), '주요 쇼핑 품목_식료품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('담배'), '주요 쇼핑 품목_식료품'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('의류'), '주요 쇼핑 품목_장신구'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('신발류'), '주요 쇼핑 품목_장신구'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('가방류'), '주요 쇼핑 품목_장신구'] = 1
df.loc[df['주요 쇼핑 품목'].str.contains('보석'), '주요 쇼핑 품목_장신구'] = 1

In [39]:
#예약 더미변수
df.loc[df['Q7'].str.contains('출발 1주 이내'), '예약_1주이내'] = 1
df.loc[df['Q7'].str.contains('1~2주'), '예약_1~2주'] = 1
df.loc[df['Q7'].str.contains('3~4주'), '예약_3~4주'] = 1
df.loc[df['Q7'].str.contains('1~2개월'), '예약_1~2개월 전'] = 1
df.loc[df['Q7'].str.contains('3~6개월'), '예약_3~6개월 전'] = 1
df.loc[df['Q7'].str.contains('6~12개월'), '예약_6~12개월 전'] = 1
df.loc[df['Q7'].str.contains('기타'), '예약_6~12개월 전'] = 1

In [40]:
#방한 중 한국 관련 정보 출처
df.loc[df['정보출처'].str.contains('인터넷'), '방한 중 한국정보 출처_인터넷'] = 1
df.loc[df['정보출처'].str.contains('안내소'), '방한 중 한국정보 출처_안내소'] = 1
df.loc[df['정보출처'].str.contains('가이드북'), '방한 중 한국정보 출처_안내소'] = 1
df.loc[df['정보출처'].str.contains('한국'), '방한 중 한국정보 출처_한국인'] = 1
df.loc[df['정보출처'].str.contains('다른'), '방한 중 한국정보 출처_외국인'] = 1
df.loc[df['정보출처'].str.contains('기타'), '방한 중 한국정보 출처_기타'] = 1
df.loc[df['정보출처'].str.contains('없음'), '방한 중 한국정보 출처_기타'] = 1

In [41]:
#참여활동 
df.loc[df['참여활동'].str.contains('식도락'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('유적지'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('박물관'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('민속'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('드라마'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('전통'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('뷰티관광'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('의료관광'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('시찰'), '참여활동_문화/관광'] = 1
df.loc[df['참여활동'].str.contains('쇼핑'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('자연경관'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('유흥'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('놀이공원'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('휴양'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('스포츠'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('레포츠'), '참여활동_여가/휴가'] = 1
df.loc[df['참여활동'].str.contains('업무수행'), '참여활동_교육/연수'] = 1
df.loc[df['참여활동'].str.contains('교육'), '참여활동_교육/연수'] = 1
df.loc[df['참여활동'].str.contains('시티투어'), '참여활동_기타'] = 1
df.loc[df['참여활동'].str.contains('기타'), '참여활동_기타'] = 1
df.loc[df['참여활동'].str.contains('없음'), '참여활동_기타'] = 1

In [42]:
#만족활동 
df.loc[df['만족활동'].str.contains('식도락'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('유적지'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('박물관'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('민속'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('드라마'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('전통'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('뷰티관광'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('의료관광'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('시찰'), '만족활동_문화/관광'] = 1
df.loc[df['만족활동'].str.contains('쇼핑'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('자연경관'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('유흥'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('놀이공원'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('휴양'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('스포츠'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('레포츠'), '만족활동_여가/휴가'] = 1
df.loc[df['만족활동'].str.contains('업무수행'), '만족활동_교육/연수'] = 1
df.loc[df['만족활동'].str.contains('교육'), '만족활동_교육/연수'] = 1
df.loc[df['만족활동'].str.contains('시티투어'), '만족활동_기타'] = 1
df.loc[df['만족활동'].str.contains('기타'), '만족활동_기타'] = 1
df.loc[df['만족활동'].str.contains('없음'), '만족활동_기타'] = 1

In [43]:
#방문지역
df.loc[df['방문지역'].str.contains('서울'), '방문지역_서울'] = 1
df.loc[df['방문지역'].str.contains('부산'), '방문지역_부산'] = 1
df.loc[df['방문지역'].str.contains('대구'), '방문지역_대구'] = 1
df.loc[df['방문지역'].str.contains('인천'), '방문지역_인천'] = 1
df.loc[df['방문지역'].str.contains('광주'), '방문지역_광주'] = 1
df.loc[df['방문지역'].str.contains('대전'), '방문지역_대전'] = 1
df.loc[df['방문지역'].str.contains('울산'), '방문지역_울산'] = 1
df.loc[df['방문지역'].str.contains('경기'), '방문지역_경기'] = 1
df.loc[df['방문지역'].str.contains('강원'), '방문지역_강원'] = 1
df.loc[df['방문지역'].str.contains('충북'), '방문지역_충북'] = 1
df.loc[df['방문지역'].str.contains('충남'), '방문지역_충남'] = 1
df.loc[df['방문지역'].str.contains('전북'), '방문지역_전북'] = 1
df.loc[df['방문지역'].str.contains('전남'), '방문지역_전남'] = 1
df.loc[df['방문지역'].str.contains('경북'), '방문지역_경북'] = 1
df.loc[df['방문지역'].str.contains('경남'), '방문지역_경남'] = 1
df.loc[df['방문지역'].str.contains('제주'), '방문지역_제주'] = 1
df.loc[df['방문지역'].str.contains('세종'), '방문지역_세종'] = 1

In [49]:
df.loc[df['Q13'].str.contains('개별여행'), '여행형태_개별여행'] = 1
df.loc[df['Q13'].str.contains('Air'), '여행형태_Air-Tel'] = 1
df.loc[df['Q13'].str.contains('단체'), '여행형태_단체여행'] = 1

In [50]:
df.to_excel("C:/Users/pc/Desktop/x1.xlsx")

In [ ]:
conditions = [
    (df['Q10_5A1'] == 1) | (df['Q10_5A1'] =="감자"),
    (df['a']== 25) | (df['na']=="고구마"),
choices=[1,0]
df['']=np.select(conditions,choices,default="F")

In [6]:
pd.DataFrame(df['COUNTRY'].value_counts() / df.shape[0])

           COUNTRY
중국        0.166920
일본        0.115490
대만        0.073228
미국        0.068917
홍콩        0.061692
태국        0.051612
베트남       0.041290
말레이시아     0.040986
필리핀       0.038314
러시아       0.035643
싱가포르      0.035278
인도네시아     0.031817
캐나다       0.031149
호주        0.028903
영국        0.026353
몽골        0.024713
독일        0.024106
프랑스       0.023317
인도        0.021070
카자흐스탄     0.013723
터키        0.004068
우즈베키스탄    0.003886
이스라엘      0.003461
아랍에미레이트   0.003157
네델란드      0.001882
사우디아라비아   0.001700
이탈리아      0.001639
스페인       0.001579
스위스       0.001518
멕시코       0.001336
...            ...
슬로바키아     0.000121
몰타        0.000121
이디오피아     0.000061
쿠바        0.000061
스리랑카      0.000061
과테말라      0.000061
온듀라스      0.000061
이라크       0.000061
알바니아      0.000061
벨레지       0.000061
예멘        0.000061
튀니지       0.000061
콜롬비아      0.000061
에콰도르      0.000061
몬테네그로     0.000061
카메룬       0.000061
라이베리아     0.000061
베네수엘라     0.000061
벨라루스      0.000061
탄자니아      0.000061
라트비아      0.000061
그루지아      0.000061
트리니다드토바크  0.000061
피지        0.000061
시리아       0.000061
우루과이      0.000061
티벳        0.000061
도미니카공화국   0.000061
파라과이      0.000061
마카오       0.000061

[105 rows x 1 columns]

In [7]:
pd.DataFrame(df.isnull().sum() / df.shape[0])

                 0
Q1        0.000000
Q2A1      0.333475
Q2A2      0.987977
Q2A3      0.999636
Q2A4      1.000000
Q2A5      1.000000
Q2_1      0.333475
Q3A1      0.103771
Q3A2      0.942741
Q3A3      0.945352
Q3A4      0.896229
Q3B1      0.942741
Q3B2      0.945473
Q4        0.000000
Q4_1A1    0.924950
Q4_1A2    0.991196
Q4_1A3    0.998907
Q4_1A4    0.999818
Q4_1A5    1.000000
Q4_1A6    1.000000
Q4_1A7    1.000000
Q4_1A8    1.000000
Q4_1A9    1.000000
Q4_1A10   0.996600
Q5_1      0.000000
Q5_2A1    0.255025
Q5_2A2    0.322303
Q5_2A3    0.405368
Q6_1A1    0.000000
Q6_1A2    0.250349
...            ...
Q15_2A5   0.000000
Q15_2A6   0.000000
Q15_2A7   0.000000
Q15_2A8   0.000000
Q15_2A9   0.000000
Q15_2A10  0.000000
Q15_2A11  0.000000
Q15_2A12  0.000000
Q16       0.000000
Q17       0.000000
Q18A1     0.000000
Q18A2     0.000000
Q19       0.499787
Q20_1     0.169045
Q20_2A1   0.200741
Q20_2A2   0.922825
Q20_2A3   0.998725
ID        0.000000
D_MON     0.000000
D_QUA     0.000000
D_COU     0.000000
D_GEN     0.000000
D_AGE     0.000000
D_Q5_1    0.000000
D_Q13     0.000000
D_Q1      0.000000
DD_Q1     0.000000
COUNTRY   0.000000
CITY      0.000000
WT        0.000000

[410 rows x 1 columns]

In [25]:
df1 = df.dropna(thresh=150)

In [26]:
df1.shape

(11172, 410)